.header {
    padding-top: 23px;
    /* background-color: blueviolet; */
    position: absolute;

    &__list {
        display: flex;
        gap: 32px;
        margin-right: 253px;
    }

    &__contacts {
        display: flex;
        gap: 38px;
    }

    &__navigation {
        display: flex;
        justify-content: flex-end;
    }

    &__page,
    &__link {
        font-size: 11px;
        line-height: 2.18;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $text-color;
    }
}