:root {
    --buttons-background: #7837F3;
    --background-color: #E7DFD8;
    --text-color: #E4D8CC;
    --additional-text-color: #101010;
    --link-color: #B99FEA;
}
.container {
    /* outline: solid red; */
    padding: 0px 15px;
    width: 1182px;
    margin: 0 auto;
}